<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant</title>
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index.html">[nom du restaurant]</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/index.html">Welcome</a>
              <a
                class="nav-link active"
                href="/views/menu.html"
                aria-current="page"
                >Menu</a
              >
              <a class="nav-link" href="/views/pictures.html">Pictures</a>
              <a class="nav-link" href="/views/restaurants.html">Restaurants</a>
              <a class="nav-link" href="/views/contact.html">Contact</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section class="container">
      <h2>menu</h2>
      <div class="row">
        <!-- Starters-->
        <!-- image -->
      </div>
      <div class="row"><!-- Main dishes --><!-- Desserts--></div>
      <!-- Ajouter ici accordéon-->
      <!-- Contenu : allergene -->
    </section>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
