<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant</title>
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">[nom du restaurant]</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="../index.html">Welcome</a>
              <a class="nav-link active" href="./menu.html" aria-current="page"
                >Menu</a
              >
              <a class="nav-link" href="./pictures.html">Pictures</a>
              <a class="nav-link" href="./restaurants.html">Restaurants</a>
              <a class="nav-link" href="./contact.html">Contact</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section class="container">
      <h2>menu</h2>
      <article class="row">
        <section class="col-12 card">
          <h2>à la carte :</h2>
          <h2>Starters</h2>
          <ul class="list-group countainer">
            <li class="row list-group-item">
              <h3 class="col-8">Scampis Tomate & Basilic</h3>
              <p class="col-8">description</p>
              <div class="col-4 d-flex-">
                <span class="badge bg-primary rounded-pill">Kids</span>
                <span class="badge bg-primary rounded-pill">Vegan</span>
              </div>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Aile de poulet façon Thaï
              <span class="badge bg-primary rounded-pill">Spicy</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Samosas à la viande de Boeuf
              <span class="badge bg-primary rounded-pill">spicy</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Velouté de potimarron
              <span class="badge bg-primary rounded-pill">Vegan</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Velouté de tomate accompagné de pâtes alphabet
              <span class="badge bg-primary rounded-pill">Kids</span>
            </li>
          </ul>
        </section>
        <!-- image -->
        <section class="col-12 card">
          <h2>Main Dishes</h2>
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Pâtes à la ricotta et au basilic
              <span class="badge bg-primary rounded-pill">Kids</span>
              <span class="badge bg-primary rounded-pill">Vegan</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Mafé de poulet Africain
              <span class="badge bg-primary rounded-pill">Spicy</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <h4>Pad Thai au Tofu</h4>
              <p>description</p>
              <span class="badge bg-primary rounded-pill">vegetarien</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Raviole de courge butternet au safran
              <span class="badge bg-primary rounded-pill">Vegan</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Poulet tikka Massala
              <span class="badge bg-primary rounded-pill">Spicy</span>
            </li>
          </ul>
        </section>
        <section class="col-12 card">
          <h2>Desserts</h2>
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              omelette norvegienne

              <span class="badge bg-primary rounded-pill">Vegetarien</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Boules de coco chinoises
              <span class="badge bg-primary rounded-pill">Vegetarien</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <h4>Bingsu</h4>
              <p>description</p>
              <span class="badge bg-primary rounded-pill">vegetarien</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Assortiment de gâteaux à l'ancienne
              <span class="badge bg-primary rounded-pill">Kids</span>
              <span class="badge bg-primary rounded-pill">Vegetarien</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Café Liégeois
              <span class="badge bg-primary rounded-pill">Vegetarien</span>
            </li>
          </ul>
        </section>
      </article>
      <section>
        <article>menu responsable</article>
        <article>Vous choisissez votre menu</article>
      </section>
      <div class="row"><!-- Main dishes --><!-- Desserts--></div>
      <!-- Ajouter ici accordéon-->
      <!-- Contenu : allergene -->
    </section>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
