<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant</title>
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand pe-5" href="index.html"
            ><img
              height="50"
              style="transform: scale(1.5)"
              src="../assets/svg/1.svg"
              alt="its gravy kitchen logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="../index.html">Welcome</a>
              <a class="nav-link active" href="./menu.html" aria-current="page"
                >Menu</a
              >
              <a class="nav-link" href="./pictures.html">Pictures</a>
              <a class="nav-link" href="./restaurants.html">Restaurants</a>
              <a class="nav-link" href="./contact.html">Contact</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section class="py-5 bg-black text-white">
      <h2 class="pt-5 px-2">Découvez la carte</h2>
      <p class="px-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum possimus
        exercitationem eum harum fugit eaque sunt necessitatibus sed esse ad
        delectus accusantium quas quae, est magni ipsa, incidunt odio
        voluptatibus!
      </p>
    </section>
    <section class="container-fluid pt-5">
      <article class="row justify-content-md-evenly">
        <section class="col-12 col-sm-6 col-md-5 col-lg-4 card pt-3">
          <h3 class="py-2">Starters</h3>
          <ul class="list-group countainer-fluid">
            <li class="list-group-item d-flex-column">
              <h5 class="">Scampis Tomate & Basilic</h5>
              <div class="d-flex flex-row justify-content-between">
                <p class="col-9">
                  description Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Minima deleniti atque pariatur delectus
                  necessitatibus impedit sint veniam perferendis, nesciunt
                  voluptatum officiis. Fugiat officia rem placeat possimus
                  maxime modi dolore dolorum?
                </p>
                <div class="col-2 text">
                  <p>prix</p>
                  <div>
                    <span class="badge bg-primary rounded-pill">Kids</span>
                    <span class="badge bg-primary rounded-pill">Vegan</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex-column">
              <h5 class="">Aile de poulet façon Thaï</h5>
              <div class="d-flex flex-row justify-content-between">
                <p class="col-9">
                  description Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Minima deleniti atque pariatur delectus
                  necessitatibus impedit sint veniam perferendis, nesciunt
                  voluptatum officiis. Fugiat officia rem placeat possimus
                  maxime modi dolore dolorum?
                </p>
                <div class="col-2 text">
                  <p>prix</p>
                  <div>
                    <span class="badge bg-primary rounded-pill">spicy</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex-column">
              <h5 class="">Samosas à la viande de Boeuf</h5>
              <div class="d-flex flex-row justify-content-between">
                <p class="col-9">
                  description Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Minima deleniti atque pariatur delectus
                  necessitatibus impedit sint veniam perferendis, nesciunt
                  voluptatum officiis. Fugiat officia rem placeat possimus
                  maxime modi dolore dolorum?
                </p>
                <div class="col-2 text">
                  <p>prix</p>
                  <div>
                    <span class="badge bg-primary rounded-pill">TOP</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex-column">
              <h5 class="">Velouté de potimarron</h5>
              <div class="d-flex flex-row justify-content-between">
                <p class="col-9">
                  description Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Minima deleniti atque pariatur delectus
                  necessitatibus impedit sint veniam perferendis, nesciunt
                  voluptatum officiis. Fugiat officia rem placeat possimus
                  maxime modi dolore dolorum?
                </p>
                <div class="col-2 text">
                  <p>prix</p>
                  <div>
                    <span class="badge bg-primary rounded-pill">Vegan</span>
                    <span class="badge bg-primary rounded-pill"
                      >vegetarian</span
                    >
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex-column">
              <h5 class="">Velouté de tomate accompagné de pâtes alphabet</h5>
              <div class="d-flex flex-row justify-content-between">
                <p class="col-9">
                  description Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Minima deleniti atque pariatur delectus
                  necessitatibus impedit sint veniam perferendis, nesciunt
                  voluptatum officiis. Fugiat officia rem placeat possimus
                  maxime modi dolore dolorum?
                </p>
                <div class="col-2 text">
                  <p>prix</p>
                  <div>
                    <span class="badge bg-primary rounded-pill">Vegan</span>
                    <span class="badge bg-primary rounded-pill"
                      >vegetarian</span
                    >
                    <span class="badge bg-primary rounded-pill">kids</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <figure class="col-12 col-sm-6 col-md-5 col-lg-4 card">
          <!-- image -->
        </figure>
        <!--section 2-->
        <article class="row justify-content-md-evenly">
          <section class="col-12 col-sm-6 col-md-5 col-lg-4 card pt-3">
            <h3 class="py-2">Main Dishes</h3>
            <ul class="list-group countainer-fluid">
              <li class="list-group-item d-flex-column">
                <h5 class="">Pâtes à la ricotta et au basilic</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p class="col-9">
                    description Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minima deleniti atque pariatur delectus
                    necessitatibus impedit sint veniam perferendis, nesciunt
                    voluptatum officiis. Fugiat officia rem placeat possimus
                    maxime modi dolore dolorum?
                  </p>
                  <div class="col-2 text">
                    <p>prix</p>
                    <div>
                      <span class="badge bg-primary rounded-pill">Kids</span>
                      <span class="badge bg-primary rounded-pill">Vegan</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item d-flex-column">
                <h5 class="">Mafé de poulet Africain</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p class="col-9">
                    description Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minima deleniti atque pariatur delectus
                    necessitatibus impedit sint veniam perferendis, nesciunt
                    voluptatum officiis. Fugiat officia rem placeat possimus
                    maxime modi dolore dolorum?
                  </p>
                  <div class="col-2 text">
                    <p>prix</p>
                    <div>
                      <span class="badge bg-primary rounded-pill">Spicy</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item d-flex-column">
                <h5 class="">Pad Thai au Tofu</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p class="col-9">
                    description Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minima deleniti atque pariatur delectus
                    necessitatibus impedit sint veniam perferendis, nesciunt
                    voluptatum officiis. Fugiat officia rem placeat possimus
                    maxime modi dolore dolorum?
                  </p>
                  <div class="col-2 text">
                    <p>prix</p>
                    <div>
                      <span class="badge bg-primary rounded-pill">vegan</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item d-flex-column">
                <h5 class="">Raviole de courge butternet au safran</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p class="col-9">
                    description Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minima deleniti atque pariatur delectus
                    necessitatibus impedit sint veniam perferendis, nesciunt
                    voluptatum officiis. Fugiat officia rem placeat possimus
                    maxime modi dolore dolorum?
                  </p>
                  <div class="col-2 text">
                    <p>prix</p>
                    <div>
                      <span class="badge bg-primary rounded-pill">vegan</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item d-flex-column">
                <h5 class="">Poulet tikka Massala</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p class="col-9">
                    description Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minima deleniti atque pariatur delectus
                    necessitatibus impedit sint veniam perferendis, nesciunt
                    voluptatum officiis. Fugiat officia rem placeat possimus
                    maxime modi dolore dolorum?
                  </p>
                  <div class="col-2 text">
                    <p>prix</p>
                    <div>
                      <span class="badge bg-primary rounded-pill">spicy</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </section>
          <section class="col-12 col-sm-6 col-md-5 col-lg-4 card pt-3">
            <h3 class="py-2">Desserts</h3>
            <ul class="list-group countainer-fluid">
              <li class="list-group-item d-flex-column">
                <h5 class="">omelette norvegienne</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p class="col-9">
                    description Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minima deleniti atque pariatur delectus
                    necessitatibus impedit sint veniam perferendis, nesciunt
                    voluptatum officiis. Fugiat officia rem placeat possimus
                    maxime modi dolore dolorum?
                  </p>
                  <div class="col-2 text">
                    <p>prix</p>
                    <div>
                      <span class="badge bg-primary rounded-pill">Kids</span>
                      <span class="badge bg-primary rounded-pill"
                        >vegetarian</span
                      >
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item d-flex-column">
                <h5 class="">Boules de coco chinoises</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p class="col-9">
                    description Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minima deleniti atque pariatur delectus
                    necessitatibus impedit sint veniam perferendis, nesciunt
                    voluptatum officiis. Fugiat officia rem placeat possimus
                    maxime modi dolore dolorum?
                  </p>
                  <div class="col-2 text">
                    <p>prix</p>
                    <div>
                      <span class="badge bg-primary rounded-pill">Kids</span>
                      <span class="badge bg-primary rounded-pill"
                        >vegetarian</span
                      >
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item d-flex-column">
                <h5 class="">Bingsu</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p class="col-9">
                    description Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minima deleniti atque pariatur delectus
                    necessitatibus impedit sint veniam perferendis, nesciunt
                    voluptatum officiis. Fugiat officia rem placeat possimus
                    maxime modi dolore dolorum?
                  </p>
                  <div class="col-2 text">
                    <p>prix</p>
                    <div>
                      <span class="badge bg-primary rounded-pill">vegan</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item d-flex-column">
                <h5 class="">Assortiment de gâteaux à l'ancienne</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p class="col-9">
                    description Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minima deleniti atque pariatur delectus
                    necessitatibus impedit sint veniam perferendis, nesciunt
                    voluptatum officiis. Fugiat officia rem placeat possimus
                    maxime modi dolore dolorum?
                  </p>
                  <div class="col-2 text">
                    <p>prix</p>
                    <div>
                      <span class="badge bg-primary rounded-pill">TOP</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item d-flex-column">
                <h5 class="">Café Liégeois</h5>
                <div class="d-flex flex-row justify-content-between">
                  <p class="col-9">
                    description Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minima deleniti atque pariatur delectus
                    necessitatibus impedit sint veniam perferendis, nesciunt
                    voluptatum officiis. Fugiat officia rem placeat possimus
                    maxime modi dolore dolorum?
                  </p>
                  <div class="col-2 text">
                    <p>prix</p>
                    <div>
                      <span class="badge bg-primary rounded-pill">vegan</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </article>

        <!-- Ajouter ici accordéon -->
        <!-- Contenu : allergene -->
      </article>
    </section>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
