<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant</title>
  </head>
  <body>
    <h1>page 1</h1>
    <div class="groupe-image" id="article">
      <article
        class="card border-0 col-12 col-sm-10 col-md-8 bg-light text-black pt-4"
      >
        <img
          src="../assets/svg/area-1.svg"
          class="card-img-top pt-2"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Area 1</h5>
          <p class="card-text">
            Area 1 is the newly opened restaurant that's already causing a
            sensation.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Bruges, Belgium</small>
          </p>
        </div>
      </article>
      <article
        class="card border-0 col-12 col-sm-10 col-md-8 bg-light text-black"
      >
        <img
          src="../assets/svg/area-2.svg"
          class="card-img-top pt-2"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Area 2</h5>
          <p class="card-text">
            Area 2 is exactly that; it all began there, and now we continue our
            journey.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Brussels, Belgium</small>
          </p>
        </div>
      </article>
      <article
        class="card border-0 col-12 col-sm-10 col-md-8 col-xl-8 bg-light text-black"
      >
        <img src="../assets/svg/area-3.svg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Are 3</h5>
          <p class="card-text">
            Area 3 is the go-to place morning, noon, and night. Why bother
            opening your fridge?
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Ghent, Belgium</small>
          </p>
        </div>
      </article>
    </div>
  </body>
</html>
